In [3]:
from google.colab import files
uploaded = files.upload()

Saving stock_data.csv to stock_data.csv
Saving stock_data.xlsx to stock_data.xlsx

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("stock_data.csv")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [6]:
df = pd.read_csv("stock_data.csv",skiprows = 1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [7]:
df = pd.read_csv("stock_data.csv")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [8]:
# another method to remove unnamed rows
df = pd.read_csv("stock_data.csv",header=1) 
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [9]:
# If csv file doesnt have header then
df = pd.read_csv("stock_data.csv",header=None)
df

         0              1        2      3              4
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4     RIL   not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [10]:
df = pd.read_csv("stock_data.csv",names = ["tickers","eps","revenue","price","people"])
df

   tickers            eps  revenue  price         people
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4     RIL   not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [11]:
# display only 3 stocks_data
df = pd.read_csv("stock_data.csv",nrows=3)
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.
2    MSFT  -1.00       85     64  bill gates

In [12]:
# replace "not available" and "n.a" with NaN:
df = pd.read_csv("stock_data.csv",na_values = ["not available","n.a."])
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [13]:
# no such company could have -1 as revenue so make it as NaN
# eps[earning per share] can be -1 but it can't be "not available" or "n.a."
df = pd.read_csv("stock_data.csv",na_values= {
    "eps" : ["not available","n.a."],
    "revenue" : ["not available","n.a.",-1],
    "price" : ["not available","n.a.",-1],
    "people" : ["not available","n.a.",-1]
})
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [14]:
# converting dataframe to csv
df.to_csv("new.csv")

In [15]:
# read csv file into dataframe:
df = pd.read_csv("new.csv")
df

   Unnamed: 0 tickers    eps  revenue   price         people
0           0   GOOGL  27.82     87.0   845.0     larry page
1           1     WMT   4.61    484.0    65.0            NaN
2           2    MSFT  -1.00     85.0    64.0     bill gates
3           3    RIL     NaN     50.0  1023.0  mukesh ambani
4           4    TATA   5.60      NaN     NaN     ratan tata

In [16]:
# writing into csv file:
df.to_csv("new.csv",index = False)
df

   Unnamed: 0 tickers    eps  revenue   price         people
0           0   GOOGL  27.82     87.0   845.0     larry page
1           1     WMT   4.61    484.0    65.0            NaN
2           2    MSFT  -1.00     85.0    64.0     bill gates
3           3    RIL     NaN     50.0  1023.0  mukesh ambani
4           4    TATA   5.60      NaN     NaN     ratan tata

In [17]:
# displaying column names of df:
df.columns

Index(['Unnamed: 0', 'tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [18]:
df

   Unnamed: 0 tickers    eps  revenue   price         people
0           0   GOOGL  27.82     87.0   845.0     larry page
1           1     WMT   4.61    484.0    65.0            NaN
2           2    MSFT  -1.00     85.0    64.0     bill gates
3           3    RIL     NaN     50.0  1023.0  mukesh ambani
4           4    TATA   5.60      NaN     NaN     ratan tata

In [19]:
df.to_csv("new.csv",columns = ["tickers","eps"])
df = pd.read_csv("new.csv")
df

   Unnamed: 0 tickers    eps
0           0   GOOGL  27.82
1           1     WMT   4.61
2           2    MSFT  -1.00
3           3    RIL     NaN
4           4    TATA   5.60

In [20]:
df.to_csv("new.csv",columns = ["tickers","eps"],header=False)
df = pd.read_csv("new.csv")
df

   0 GOOGL  27.82
0  1   WMT   4.61
1  2  MSFT  -1.00
2  3  RIL     NaN
3  4  TATA   5.60

In [39]:
# reading of excel file:
df = pd.read_excel("stock_data.xlsx")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [23]:
# converters : These we use to convert something into meaningfully:
# This is not a good way to do because if there are many companies lime RIL is "n.a" this will also return name as "sam walton"

def conv_people(cell):
  if cell == "n.a." or cell == "not available":
    return "sam Walton"
  return cell

def conv_eps(cell):
  if cell == "not available" or cell == "n.a":
    return None
  return cell

df = pd.read_excel("stock_data.xlsx",converters = {"people":conv_people,
                                                   "eps":conv_eps})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam Walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [24]:
# writing excel:
# skip_blank_lines : this is going to skip blank lines if u pass this when there are any blanks in the table:
# This above is only used in .csv not in .excel

In [28]:
df.to_excel("new.xlsx",sheet_name="stocks",index = False,startrow =1,startcol=2)
df  = pd.read_excel("new.xlsx","stocks",header=None)
df

    0   1        2      3        4      5              6
0 NaN NaN      NaN    NaN      NaN    NaN            NaN
1 NaN NaN  tickers    eps  revenue  price         people
2 NaN NaN    GOOGL  27.82       87    845     larry page
3 NaN NaN      WMT   4.61      484     65     sam Walton
4 NaN NaN     MSFT     -1       85     64     bill gates
5 NaN NaN     RIL     NaN       50   1023  mukesh ambani
6 NaN NaN     TATA    5.6       -1   n.a.     ratan tata

In [36]:
# write these two dataframes into same excel file as 2 different sheets
df_stocks = pd.DataFrame({
    "tickers" : ["Gogl","WMP","MSFT"],
    "price" : [84,45,64],
    "pe" : [30.347,14.26,30.97],
    "eps" : [27.82,4.61,2.12]
})

df_weather = pd.DataFrame({
    "day" : ["1/1/2017","1/2/2017","1/3/2017"],
    "temp" : [32,35,28],
    "event" : ["Rain","Sunny","Snow"]
})

# Excel we can write data frames into excel with thw help of ExcelWriter:
with pd.ExcelWriter("stocks_weather.xlsx") as writer:
  df_stocks.to_excel(writer,sheet_name="stocks"),
  df_weather.to_excel(writer,sheet_name="weather")

df = pd.read_excel("stocks_weather.xlsx","stocks") 
df

   Unnamed: 0 tickers  price      pe    eps
0           0    Gogl     84  30.347  27.82
1           1     WMP     45  14.260   4.61
2           2    MSFT     64  30.970   2.12

In [37]:
df1 = pd.read_excel("stocks_weather.xlsx","weather")
df1

   Unnamed: 0       day  temp  event
0           0  1/1/2017    32   Rain
1           1  1/2/2017    35  Sunny
2           2  1/3/2017    28   Snow