In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    "city" : ["newyork","paris","virginia"],
    "temp" : [21,14,18]
})

df1

       city  temp
0   newyork    21
1     paris    14
2  virginia    18

In [4]:
df2 = pd.DataFrame({
    "city" : ["newyork","paris","virginia"],
    "humidity" : [65,68,75]
})

df2

       city  humidity
0   newyork        65
1     paris        68
2  virginia        75

In [6]:
# on = 'city we use this because we merge using city:

df3 = pd.merge(df1,df2,on='city')
df3

# This is exactly join operation in mysql

       city  temp  humidity
0   newyork    21        65
1     paris    14        68
2  virginia    18        75

In [ ]:
# case : what if two dfs have different cities we merge them using cities:

In [7]:
df1 = pd.DataFrame({
    "city" : ["newyork","paris","virginia"],
    "temp" : [21,14,18]
})

df1

       city  temp
0   newyork    21
1     paris    14
2  virginia    18

In [8]:
df2 = pd.DataFrame({
    "city" : ["newyork","paris","texas","alaska"],
    "humidity" : [65,68,75,83]
})

df2

      city  humidity
0  newyork        65
1    paris        68
2    texas        75
3   alaska        83

In [9]:
df3 = pd.merge(df1,df2,on='city')
df3

      city  temp  humidity
0  newyork    21        65
1    paris    14        68

In [10]:
# join DataFrames and make it as outer join[sql] or union in  setr theory

df3 = pd.merge(df1,df2,on='city',how='outer')
df3

       city  temp  humidity
0   newyork  21.0      65.0
1     paris  14.0      68.0
2  virginia  18.0       NaN
3     texas   NaN      75.0
4    alaska   NaN      83.0

In [11]:
# Left and right joins will be described by order of dfs u give for merge:

In [12]:
# Left outer join:

df3 = pd.merge(df1,df2,on='city',how='left')
df3

       city  temp  humidity
0   newyork    21      65.0
1     paris    14      68.0
2  virginia    18       NaN

In [13]:
# Right outer join:

df3 = pd.merge(df1,df2,on='city',how='right')
df3

      city  temp  humidity
0  newyork  21.0        65
1    paris  14.0        68
2    texas   NaN        75
3   alaska   NaN        83

In [15]:
# indicate each of the city either it is left or right:

df3 = pd.merge(df1,df2,on='city',how='outer',indicator='True')
df3

       city  temp  humidity        True
0   newyork  21.0      65.0        both
1     paris  14.0      68.0        both
2  virginia  18.0       NaN   left_only
3     texas   NaN      75.0  right_only
4    alaska   NaN      83.0  right_only

In [16]:
df1 = pd.DataFrame({
    "city" : ["newyork","paris","orlando","baltimore"],
    "temp" : [21,14,35,38],
    "humidity" : [65,68,71,75]
})

df1

        city  temp  humidity
0    newyork    21        65
1      paris    14        68
2    orlando    35        71
3  baltimore    38        75

In [17]:
df2 = pd.DataFrame({
    "city" : ["chicago","newyork","san diego"],
    "temp" : [21,14,35],
    "humidity" : [65,68,71]
})

df2

        city  temp  humidity
0    chicago    21        65
1    newyork    14        68
2  san diego    35        71

In [18]:
df3 = pd.merge(df1,df2,on='city',suffixes=['_left','_right'])
df3

      city  temp_left  humidity_left  temp_right  humidity_right
0  newyork         21             65          14              68

In [19]:
df3 = pd.merge(df1,df2,on='city',how='outer',suffixes=['_left','_right'])
df3

        city  temp_left  humidity_left  temp_right  humidity_right
0    newyork       21.0           65.0        14.0            68.0
1      paris       14.0           68.0         NaN             NaN
2    orlando       35.0           71.0         NaN             NaN
3  baltimore       38.0           75.0         NaN             NaN
4    chicago        NaN            NaN        21.0            65.0
5  san diego        NaN            NaN        35.0            71.0